.container {
  width: 900px;
  margin: auto;
  
}

.container h1 {
  font-size: 50px;
}

.container div {
  margin: 20px;
}

.container img {
  width: 300px;
}

.postsHome {
  display: flex;
}

/* css posts  */

.containerPost {
  width: 900px;
  margin: auto;
}

.containerPost h1 {
  width: 900px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerPost img {
  width: 100%;
}

.containerPost span {
  display: flex;
  justify-content: end;
  align-items: center;
}

/* .containerPost section iframe {
  width: 900px; 
  height: 278px; 
  border:0; 
  transform: 
  scale(1); 
  overflow:hidden;
} */