.container {
  width: 900px;
  margin: auto;
  
}

.container h1 {
  font-size: 50px;
}

.container div {
  margin: 20px;
}

.container img {
  width: 300px;
}

.posts {
  display: flex;
}

.containerPost {
  width: 900px;
  margin: auto;
}

.containerPost iframe {
  margin: auto;
}